.menu__widgets-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu__widgets-items {
    padding: 1rem;
}

.menu__widgets-hour {
    font-size: 144px;
    font-weight: 700;
    color: var(--color-third);
}

.menu__widget-date, 
.menu__widget-location  {
    color: var(--color-third);
    font-size: 14px;
}

.menu__widget-weather {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-third);
}

.mission__presentation {
    background-image: url('../../img/bg-LogoCompasso.svg');
    background-repeat: no-repeat;
    text-align: right;
    padding: 5rem;
}

.mission__presentation-subtitle {
    font-size: 36px;
    font-weight: 700;
    color: var(--subtitle-color);
    margin: 1rem 0;
}

.mission__presentation-legend {
    font-size: 24px;
    color: var(--color-third);
    margin: 1rem 0;
}

.mission__presentation-title {
    font-size: 64px;
    font-weight: 700;
    color: var(--subtitle-color);
}

footer {
    background: var(--bg-gradiente);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.footer__navigation-item-descrip {
    margin: 1rem;
    padding: 0 5rem;
    text-align: right;
    border-right: 1px solid white;
}

.footer__navigation-item-refresh {
    margin: 1rem;
}

.footer__navigation-item-counter {
    margin: 1rem;
    text-align: center;
}

.counter {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-secondary);
}

.footer__navigation-item-continue {
    background-color: white;
    margin: 1rem;
    padding: 2.9rem;
}

.continue-link {
    color: var(--subtitle-color);
    text-decoration: none;
}

.footer__navigation-item-logout {
    margin: 1rem;
}

.item-logout {
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 700;
}
