.menu__widgets-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu__widgets-items {
    padding: 1rem;
}

.menu__widgets-hour {
    font-size: 144px;
    font-weight: 700;
    color: var(--color-third);
}

.menu__widget-date, 
.menu__widget-location  {
    color: var(--color-third);
    font-size: 14px;
}

.menu__widget-weather {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-third);
}

.mission__presentation {
    background-image: url('../../img/bg-LogoCompasso.svg');
    background-repeat: no-repeat;
    text-align: right;
    padding: 5rem;
}

.mission__presentation-subtitle {
    font-size: 36px;
    font-weight: 700;
    color: var(--subtitle-color);
    margin: 1rem 0;
}

.mission__presentation-legend {
    font-size: 24px;
    color: var(--color-third);
    margin: 1rem 0;
}

.mission__presentation-title {
    font-size: 64px;
    font-weight: 700;
    color: var(--subtitle-color);
}
