:root {
    --color-primary: #E0E0E0;
    --color-seconday: #FFFFFF;
    --color-third: #222222;
    --subtitle-color: #C12D18;
    --bg-gradiente: linear-gradient(180deg, #33383D 0%, #1C1D20 100%) no-repeat;
    --btn-color: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    --warning: #E9B425;
    --font-main: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-primary);
}